@define-color bg_color rgba(26, 27, 38, .8);

* {
    all: initial;
    font-family: CaskaydiaCode NF, monospace;
    font-weight: bold;
    font-size: 14px;
    color: #c0caf5;
}

window#waybar {
    background: @bg_color;
}

tooltip {
    padding: 5px;
    background: @bg_color;
    border-radius: 10px;
}

.modules-left {
    margin-left: 10px;
}

.modules-left > * > * {
    margin-right: 20px;
}

.modules-right {
    margin-right: 10px;
}

.modules-right > * > * {
    margin-left: 20px;
}

#workspaces {
    margin-left: 10px;
    border-radius: 10px;
}

#workspaces button {
    padding: 5px 10px;
}

#workspaces button label {
    color: #414868;
}

#workspaces button.active label {
    color: #c0caf5;
}

#workspaces button:hover {
    background: @bg_color;
}


#battery.warning {
    color: #e0af68;
}

#battery.critical {
    color: #f7768e;
}

